@import url(global-reset.css);
@import url(common.css);
@import url(fonts.css);
@import url(variables.css);
@import url(colours.css);

@import url(header.css);
@import url(footer.css);

main {
    display: flex;
    flex-direction: column;
    padding: 0 var(--hpad);
    margin-bottom: var(--vmar);
}

.hero__image {
    background-image: 
        linear-gradient(to top, rgba(0, 90, 141, 0.8), rgba(0, 90, 141, 0)),
        url(../assets/images/faq/faq-hero.jpg);
}

.section-faq {
    display: flex;
    flex-direction: column;
    gap: var(--vmar);
}

@media (min-width: 48rem) {
    .section-faq {
        padding: 6vw 12vw 0 12vw;
    }
}

.faq__item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "q-mark question"
        "a-mark answer";
        row-gap: var(--space);
}

.faq__item-qmark {
    background: url(../assets/images/faq/faq-q.svg) no-repeat center / contain;
    grid-area: q-mark;
}

.faq__item-q {
    position: relative;
    z-index: 0;
    font-size: calc(var(--fnt-size-main) + 0.3rem);
    color: var(--clr-primary);
    grid-area: question;
}

.faq__item-amark {
    background: url(../assets/images/faq/faq-a.svg) no-repeat center / contain;
    grid-area: a-mark;
}

.faq__item-qmark,
.faq__item-amark {
    width: clamp(2rem, 9vw, 2.5rem);
    justify-self: center;
}

@media (min-width: 48rem) {
    .faq__item-qmark,
    .faq__item-amark {
        width: clamp(2.5rem, 5vw, 3rem);
    }
}

.faq__item-a {
    grid-area: answer;
}

.faq__item-a > a {
    color: var(--clr-primary);
    text-decoration: underline;
}

.faq__item-a > a:hover,
.faq__item-a > a:focus,
.faq__item-a > a:focus-visible {
    color: var(--clr-accent);
    text-decoration: none;
}

.faq__item-q::after {
    content: "";
    position: absolute;
    width: min(57vw, 27rem);
    height: min(6vw, 2.4rem);
    top: 0;
    left: 0;
    background: url(../assets/images/schedule/sch-brush.svg) no-repeat center / contain;
    z-index: -1;
    opacity: 0.8;
}