@import url(/styles/variables.css);

/* Header variables */
:root {
    --hl-wdth: clamp(18rem, 100%, 21.5rem);
    --menu-fs: 1rem;
    --ml-justify: center;
    --ml-mt: 2rem;
}

@media (min-width: 768px) {
    :root {
        --hl-wdth: clamp(22rem, 46vw, 38rem);
        --menu-fs: clamp(1rem, 2vw, 1.5rem);
        --ml-justify: space-between;
    }
}

@media (min-width: 1280px) {
    :root {
        --hl-wdth: clamp(38rem, 47.5vw, 50rem);
        --menu-fs: 1.5rem;
        --ml-mt: 3rem;
    }
}

.site__header {
    margin: var(--vmar) auto;
    padding: 0 var(--hpad);
}

.header__logo {
    width: var(--hl-wdth);
    margin: auto;
}

.header__menu-list {
    font-size: var(--menu-fs);
    text-transform: uppercase;
    font-weight: 200;
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--ml-justify);
    gap: 1rem 2.5rem;
    margin-top: var(--ml-mt);
}

.header__menu-list a:hover,
.header__menu-list a:focus,
.header__menu-list a:focus-visible {
    text-decoration: underline;
    color: var(--clr-primary);
    outline: 0;
}

.active {
    color: var(--clr-primary);
    font-weight: 300;
}

.header__menu-list--highlight {
    font-weight: 700;
}