@import url(/styles/global-reset.css);
@import url(/styles/fonts.css);
@import url(/styles/header.css);
@import url(/styles/footer.css);
@import url(/styles/variables.css);
/* @import url(/styles/colours.css); */
:root {
    --clr-primary: #005a8d;
    --clr-accent: #ff5a5f;
    --clr-background: #fafaf7;
    --clr-text: #222;
    --clr-divider: #e0e0e0;
    --clr-highlight: #ffc845;
}

:root {
    --font-main: "Merriweather Sans", sans-serif;
    --font-deco: "Caveat", cursive;
    /* Hero variables */
    --ht-fs: clamp(1.5rem, 6.8vw, 3.5rem);
    --hd-fs: clamp(1rem, 4vw, 2rem);
    --hb-fs: 1rem;
    --hb-pad-tb: clamp(1rem, 4vw, 2rem);
    --hb-pad-lr: clamp(1rem, 4vw, 1.5rem);
    --hb-gap: clamp(1.5rem, 6.5vw, 2rem);
    --hero-grid-gap-columns: clamp(1rem, 4vw, 1.5rem);
    --hero-grid-gap-rows: clamp(1rem, 4vw, 1.5rem);
    --hi-height: 61vw;
    /* Workshops variables */
    --ws-hgap: clamp(1rem, 4vw, 1.5rem);
    --ws-vgap: clamp(1rem, 4vw, 2rem);
    --ws-title-fs: clamp(1.5rem, 6.5vw, 2.5rem);
    --ws-desc-fs: clamp(1rem, 4vw, 1.5rem);
    /* Highlights variables */
    --hl-desc-fs: clamp(1rem, 4vw, 1.5rem);
    --hl-title-fs: clamp(1.5rem, 7vw, 2.5rem);
    --hl-title-margin: clamp(1rem, 4vw, 1.5rem);
}

@media (min-width: 48rem) {
    :root {
        --ht-fs: clamp(3.4rem, 7vw, 5rem);
        --hd-fs: clamp(2rem, 4vw, 3rem);
        --hb-fs: clamp(1rem, 2vw, 1.5rem);
        --hb-pad-tb: 2rem;
        --hb-gap: clamp(2rem, 4vw, 4rem);
        --hero-grid-gap-columns: clamp(1rem, 4vw, 1.5rem);
        --hero-grid-gap-rows: clamp(1rem, 4vw, 2rem);
        --hi-height: 38vw;
        /* Workshops variables */
        --ws-hgap: clamp(1.5rem, 3vw, 6.5rem);
        --ws-vgap: clamp(2rem, 4vw, 3rem);
        --ws-title-fs: clamp(2.5rem, 5vw, 3rem);
        --ws-desc-fs: 1.5rem;
        /* Highlights variables */
        --hl-desc-fs: 1.5rem;
        --hl-title-fs: clamp(2.5rem, 5vw, 3rem);
        --hl-title-margin: clamp(1.5rem, 3vw, 2rem);
    }
}

@media (min-width: 80rem) {
    :root {
        --hero-grid-gap-columns: 6vw;
        --hero-grid-gap-rows: 2.5vw;
        --hi-height: 33vw;
        /* Workshops variables */
        --ws-hgap: 8vw;
        --ws-vgap: 4vw;
        --ws-title-fs: clamp(3rem, 4vw, 5rem);
        /* Highlights variables */
        --hl-title-fs: clamp(3rem, 4vw, 5rem);
        --hl-title-margin: 2rem;
    }
}

body {
    background-color: var(--clr-background);
    font-family: var(--font-main);
    color: var(--clr-text);
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--vmar);
    padding: 0 var(--hpad);
}

/* .section-hero,
.section-workshops,
.section-highlights,
.section-logistics {
    margin: var(--vmar) auto;
    padding: 0 var(--hpad);
} */

.section-hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "title"
        "desc1"
        "image"
        "desc2"
        "button13"
        "button14";
    gap: var(--hero-grid-gap-rows) var(--hero-grid-gap-columns);
}

@media (min-width: 48rem) {
    .section-hero {
        grid-template-columns: 5fr 3fr;
        grid-template-areas: 
            "title title"
            "desc1 desc1"
            "image button13"
            "image button14"
            "desc2 desc2"
    }
}

.hero__title {
    font-family: var(--font-deco);
    font-size: var(--ht-fs);
    color: var(--clr-accent);
    grid-area: title;
}

.hero__description {
    font-weight: 200;
    font-size: var(--hd-fs);
}

.hero__desc1 {
    grid-area: desc1;
}

.hero__desc2 {
    grid-area: desc2;
}

.hero__image {
    width: 100%;
    height: var(--hi-height);
    border-radius: 0.5rem;
    background-image: url(/assets/images/home-hero-320.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: image;
}

.hero__schedule-button {
    font-size: var(--hb-fs);
    background-color: var(--clr-primary);
    color: var(--clr-background);
    border-radius: 0.25rem;
    padding: var(--hb-pad-tb) var(--hb-pad-lr);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--hb-gap);
    transition: all 0.2s ease-in-out;
}

.hero__schedule-button:hover,
.hero__schedule-button:focus,
.hero__schedule-button:focus-visible {
    background-color: var(--clr-highlight);
    color: var(--clr-primary);
}

.hero__but13 {
    grid-area: button13;
}

.hero__but14 {
    grid-area: button14;
}

.hero__schedule-button--link {
    font-weight: 200;
    align-self: flex-end;
}

.section-workshops {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--ws-vgap);
}

.section-workshops::after {
    content: " ";
    background: url(/assets/images/home-brush.svg) no-repeat center / cover;
    position: absolute;
    display: none;
}

.workshop {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    grid-template-areas: 
        "image title"
        "image description";
    gap: 0 var(--ws-hgap);

}

@media (min-width: 48rem) {
    .section-workshops::after {
        width: 5vw;
        height: 100%;
        right: 12vw;
        top: 0;
        display: block;
    }

    .workshop {
        width: 70vw;
    }
}

@media (min-width: 80rem) {
    .section-workshops::after {
        right: 3vw;
    }
    .workshop {
        width: 67vw;
    }
}

.workshop__image {
    grid-area: image;
}

.workshop__title {
    grid-area: title;
    color: var(--clr-accent);
    font-family: var(--font-deco);
    font-size: var(--ws-title-fs);
}

.workshop__description {
    grid-area: description;
    align-self: end;
    font-weight: 300;
    font-size: var(--ws-desc-fs);
}

.see-more-button {
    color: var(--clr-accent);
    font-weight: 300;
    font-size: clamp(1rem, 4vw, 1.5rem);
    align-self: center;
    transition: all 0.2s ease-in-out;
}

.see-more-button:hover,
.see-more-button:focus,
.see-more-button:focus-visible {
    outline: 0;
    color: var(--clr-highlight);
    transform: scale(1.1);
}

.section-highlights__title {
    color: var(--clr-accent);
    font-family: var(--font-deco);
    font-size: var(--hl-title-fs);
    margin-bottom: var(--hl-title-margin);
}

.highlight-cards__wrapper {
    display: flex;
    flex-direction: column;
    gap: 6vw;
    justify-content: space-evenly;
}

.highlight-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
    font-weight: 300;
    font-size: var(--hl-desc-fs);
    width: 100%;
}

.highlight-card img {
    padding: max(4vw, 1rem);
    width: max(19vw, 2.5rem);
}

@media (min-width: 48rem) {
    .highlight-cards__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .highlight-card {
        border: 1px   var(--clr-primary) solid;
        border-radius: 0.25rem;
        background-color: #fff;
        flex-direction: column;
        width: clamp(20.5rem, 42vw, 31rem);
        padding: clamp(1.3rem, 3vw, 2rem);
    }

    .highlight-card img {
        padding: 0;
        width: auto;
        height: clamp(7rem, 15vw, 9rem);
    }
}

@media (min-width: 80rem) {
    .highlight-card {
        width: 36vw;
        padding: 2.5vw 6vw;
        border-radius: 0.5rem;
    }
}

.section-logistics {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 4vw, 2rem);
    position: relative;
    margin-left: auto;
    margin-right: 0;
}

.section-logistics::before {
    content: " ";
    background: url(/assets/images/home-brush.svg) no-repeat center / contain;
    position: absolute;
    height: 100%;
    display: none;
}

@media (min-width: 48rem) {
    .section-logistics {
        width: clamp(33.25rem, 69vw, 50.75rem);
    }
    .section-logistics::before {
        display: block;
        width: 9vw;
        top: 0;
        left: -17vw;
    }
}

@media (min-width: 80rem) {
    .section-logistics {
        width: 63vw;
    }

    .section-logistics::before {
        width: 5vw;
        left: -14vw;
    }
}

.logistics__block {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas:
        "title arrow desc"
        "line line line";
    align-items: center;
    justify-content: space-between;
}

.logistics__block-title {
    grid-area: title;
    font-size: clamp(1.5rem, 7vw, 2.5rem);
    font-family: var(--font-deco);
    color: var(--clr-accent);
}

.logistics__block-arrow {
    background: url(/assets/images/home-arrow.svg) no-repeat center / contain;
    grid-area: arrow;
    width: clamp(2rem, 10.5vw, 4rem);
    height: 100%;
    justify-self: center;
}

.logistics__block-desc {
    grid-area: desc;
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: 300;
}

.logistics__block:nth-child(2)::after,
.logistics__block:nth-child(3)::after {
    content: " ";
    width: 100%;
    height: 1px;
    background-color: var(--clr-highlight);
    grid-area: line;
    margin-top: clamp(1rem, 4vw, 2rem);
}

.txt-highlight {
    color: var(--clr-primary);
    font-weight: 500;
}

:root {
    --cta-gap: clamp(1rem, 4vw, 1.5rem);
    --cta-title-fs: clamp(1.5rem, 7vw, 2.5rem);
    --cta-desc-fs: clamp(1rem, 4vw, 1.5rem);
}

.section-cta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title"
        "desc"
        "button-schedule"
        "button-workshops";
    gap: var(--cta-gap);
    margin-bottom: var(--vmar);
}

.cta__title {
    grid-area: title;
    font-size: var(--cta-title-fs);
    font-family: var(--font-deco);
    color: var(--clr-accent);
}

.cta__desc {
    grid-area: desc;
    font-weight: 300;
    font-size: var(--cta-desc-fs);
}

.cta__button {
    font-weight: 300;
    font-size: var(--cta-desc-fs);
    background-color: var(--clr-accent);
    color: var(--clr-background);
    border-radius: 0.25rem;
    text-align: center;
    padding: 1rem;
    transition: background-color 0.2s ease-in;
}

.cta__button a {
    display: block;
    width: 100%;
    height: 100%;
}

.cta__button:hover {
    background-color: var(--clr-highlight);
}

.cta__button-schedule {
    grid-area: button-schedule;
}

.cta__button-workshops {
    grid-area: button-workshops;
}

@media (min-width: 48rem) {
    :root {
        --cta-gap: 3vw;
        --cta-title-fs: clamp(2.5rem, 5vw, 3rem);
        --cta-desc-fs: 3vw;
    }

    .section-cta {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "title title"
        "desc desc"
        "button-schedule button-workshops"
    }
}

@media (min-width: 80rem) {
    :root {
        --cta-gap: 2vw;
        --cta-title-fs: 4vw;
        --cta-desc-fs: 2vw;
    }
}