@import url(global-reset.css);
@import url(common.css);
@import url(fonts.css);
@import url(variables.css);
@import url(colours.css);

@import url(header.css);
@import url(footer.css);

main {
    margin-bottom: var(--vmar);
}

.title {
    background-color: var(--clr-primary);
    padding: var(--space);
}

.title__heading {
    color: var(--clr-background);
    text-align: center;
}

.page-body {
    display: flex;
    flex-direction: column;
    gap: var(--vmar)
}

.page-article ul {
    list-style:disc;
}

.page-article li {
    padding: 1rem;
}


.page-article a {
    text-decoration: underline;
    color: var(--clr-primary);
}

.article-heading {
    font-weight: 500;
}