@import url(/styles/global-reset.css);
@import url(/styles/fonts.css);
@import url(/styles/variables.css);
@import url(/styles/colours.css);

@import url(/styles/header.css);
@import url(/styles/footer.css);

main {
    display: flex;
    flex-direction: column;
    padding: 0 var(--hpad);
    margin-bottom: var(--vmar);
    gap: var(--vmar);
}

.hero__image {
    background-image: 
        linear-gradient(to top, rgba(0, 90, 141, 0.8), rgba(0, 90, 141, 0)),
        url(/assets/images/venues/venues-hero.jpg);
}

.section-venues {
    display: flex;
    flex-wrap: wrap;
}

.venues__card {
    border: 1px var(--clr-highlight) solid;
    border-radius: 0.25rem;
    min-width: 20.5rem;
    width: 100%;
    min-height: 25rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}

.venues__card:hover {
    transform: scale(1.05);
    box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,0.4);
    z-index: 100;
}

@media (min-width:48rem) {
    .venues__card {
        width: 50%;
    }
}

@media (min-width: 80rem) {
    .venues__card {
        min-height: 37.5rem;
    }
}

.venue__image_title-wrapper {
    position: relative;
}

.venue__title {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-family: var(--font-deco);
    color: var(--clr-background);
    font-weight: 300;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    background: rgba(0, 90, 141, 0.8);
    position: absolute;
    bottom: 0;
}

.venue__description {
    margin-block: auto;
    padding: clamp(1rem, 6vw, 1.5rem);
    font-weight: 300;
    font-size: var(--fnt-size-main);
}

/* ---------- SECTION LOGISTICS ---------- */

.section-logistics {
    display: flex;
    flex-direction: column;
    gap: var(--space);
}

.logistics__block {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas:
        "title arrow desc"
        "line line line";
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 48rem) {
    .logistics__block {
        grid-template-columns: 1fr 1fr 3fr;
    }
}

.logistics__block-title {
    grid-area: title;
    font-size: var(--fnt-size-heading);
    font-family: var(--font-deco);
    color: var(--clr-accent);
    line-height: 1.1;
}

.logistics__block-arrow {
    background: url(/assets/images/home-arrow.svg) no-repeat center / contain;
    grid-area: arrow;
    width: clamp(2rem, 10.5vw, 4rem);
    height: 100%;
    justify-self: center;
}

.logistics__block-desc {
    grid-area: desc;
    font-size: var(--fnt-size-main);
    font-weight: 300;
}

.logistics__block:nth-child(4)::after,
.logistics__block:nth-child(5)::after,
.logistics__block:nth-child(6)::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--clr-highlight);
    grid-area: line;
    margin-top: var(--space);
}